
.main{
    width: 900px;
    height: 600px;
    margin-left: 25%;
    margin-top:5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
}

.main-left{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-title{
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
}

.title1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.sign-up{
    border: none;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: rgb(151, 61, 23);   
    color: white;
}

.sign-up:hover{
    cursor: pointer;
}

.sign-up:active{
    opacity: 0.8;
}

.left-body{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.main-right{
    color: rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login{
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
    color: black;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.username{
    border: none;
    margin-top: 50px;
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(177, 177, 177);
    border-width: 2px;
    background-color: white;
    color: rgb(70, 70, 70);
    margin-bottom: 15px;
    padding:5px 15px;
    font-size: large;
}

.username:focus{
    outline: none;
}

.password {
    border: none;
    margin-top: 50px;
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(177, 177, 177);
    border-width: 2px;
    background-color: white;
    color: rgb(70, 70, 70);
    padding: 5px 15px;
    font-size: large;
}

.password:focus{
    outline: none;
}

.login-button{
    border: none;
    margin-top: 40px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(177, 177, 177);
    border-width: 2px;
    background-color: white;
    color: white;
    font-size: large;
    background-color: rgb(151, 61, 23);
}

.login-button:hover {
    cursor: pointer;
}

.login-button:active {
    opacity: 0.8;
}

.trademark {
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    margin-top: 23vh;
}

.form-error{
    background-color: white;
    color: red;
    padding: 5px;
    border-radius: 10px;
}